@charset "UTF-8";

body {
	margin: 0;
	padding: 0;
	color: #261911;
	font-family: "Segoe UI","Helvetica Neue","Lucida Grande","Roboto","Ebrima","Nirmala UI","Gadugi","Segoe Xbox Symbol","Segoe UI Symbol","Meiryo UI","Khmer UI","Tunga","Lao UI","Raavi","Iskoola Pota","Latha","Leelawadee","Microsoft YaHei UI","Microsoft JhengHei UI","Malgun Gothic","Estrangelo Edessa","Microsoft Himalaya","Microsoft New Tai Lue","Microsoft PhagsPa","Microsoft Tai Le","Microsoft Yi Baiti","Mongolian Baiti","MV Boli","Myanmar Text","Cambria Math";
	background-color: #ffec99;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* HEADER */
.header{
	height: 4rem;
	padding: 1rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 85rem;
	max-width: 90%;
	background-color: white;
	margin-top: 1rem;
	box-shadow: 0px 10px 15px -3px rgb(38, 24, 16, 0.1);
    border-radius: 2rem;
}

.header_logo_image {
	margin-left: 2rem;
}

.header_user_details {
	height: min-content;
	margin-right: 2rem;
}

.header_user_details_info {
	position: absolute;
	float: right; 
	margin-left: 80px;
    height: 6rem;
    display: flex;
    flex-direction: column;
}

.header_user_details_info a{
	position: relative;
	padding: 1rem;
    background-color: white;
    text-decoration: none;
    color: black;
	box-shadow: 0px 10px 15px -3px rgb(38, 24, 16, 0.1);
}

.header_user_details_info a:hover{
    background-color:  #f2a549;
    color: white;
    cursor: pointer;
}

.header_user_wellcome_summary { 
  list-style: none;
  border-bottom: 1px dashed rgb(119, 118, 123);
}
.header_user_wellcome_summary:hover {
	cursor: pointer;
}


.header_user_wellcome_summary::marker {
  display: none
}

.header_user_wellcome_summary::after {
  content: " ⮟";
}

.header_user_details[open] .header_user_wellcome_summary:after {
  content: ' ⮜';
}

.header_user_wellcome_summary {
	
}

.modify_user_link {
	
}

logout_link {
	
}
/* CONTENT */


.content_container{
	display: flex;
	flex-direction: row;
	padding: 1rem 0;
	max-width: 90%;
	width: 87rem;
	justify-content: space-between;
}

.navbar {
    height: fit-content;	
	background-color: white;
	box-shadow: 0px 10px 15px -3px rgb(38, 24, 16, 0.1);
    border-radius: 2rem;	
}

.navbar_ul {
	list-style: none;
	margin: 0;
	padding: 2rem 0;
}

.navbar_li {
	
}


.navbar_li {
    display: flex;
    flex-direction: column;
}

.navbar_li a{
	padding: 1rem 2rem;
    background-color: white;
    text-decoration: none;
    color: black;
}

.navbar_li a:hover{
    background-color:  #f2a549;
    color: white;
    cursor: pointer;
}
.navbar_li_selected a{
	background-color:  #f2a549;
    color: white;
}

main {
	background-color: white;
	width: 100%;
	margin-left: 1rem;
	padding: 3rem;
    border-radius: 2rem;	
}

.btn {
    background-color: #ffec99;
    border: none;
    border-radius: none;
	box-shadow: none;
	padding: 0.6rem;
	transition: all linear 0.1s;
	text-decoration: none;
	color: #666;
}

.btn:hover {
    background-color: #f2a549;
    color: white;
	cursor: pointer;
}

main ul {
	margin-top: 2rem;
	list-style: none;
	padding: 0;
}

.list_of_camps_li {
	color: black;
}

.list_of_camps_li > details {
	background-color: #d6f3ee;
}

.list_of_camps_li details {
	margin-bottom: 1rem;
	border-radius: 2rem;
}

.list_of_camps_li details summary {
	border-radius: 2rem;
	padding: 2rem;
	background-color: #5985a5;
	color: white;
}

.list_of_camps_li details summary::marker {
  content: "";
}

.details_div {
	padding: 1rem 2rem;
}

.activity_details {
	background-color: rgb(177, 200, 213);
}

.activity_details summary{
	background-color: #5985a5;
}

main summary:hover {
	background-color: #d6f3ee;
	border: 1px solid #5985a5;
	color: black;
	cursor: pointer;
}

/* TABLE */

table {
    border: none;
    border-collapse: collapse;
    width: 100%;
    margin-top: 2rem;
}

thead {
    background-color: #5985a5;
    color: white;
    border: none;
}

tbody {
    background-color: rgb(177, 200, 213);
}

th {
    text-align: center;
	padding: 1rem;
	
}

td {
	padding: 1rem;
    text-align: center;
}

tr {
	
}

